name: Build and Deploy

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create .env file
        run: |
          touch .env
          echo SMTP_USER=${{ secrets.SMTP_USER }} >> .env
          echo SMTP_USER=${{ secrets.SMTP_USER }} >> .env
        shell: bash

      - name: Run application with .env
        run: |
          npm install
          npm start
